
#box{
	font:bold 40px Tahoma;	
	text-align:center;
	margin:50px;
	border:1px solid green;
	width:250px;
	height:150px;
	line-height:150px;	
	border-radius:10px;

	transition:width 2s, transform 2s;
}
#box:hover{
	width:400px;
	transform:rotate(30deg);
}