*{
	margin:0px;
	padding:0px;
	font:normal 12px Tahoma;
}
#box{
	width:500px;
	height:250px;

	position:relative;
	overflow:hidden;

	margin:100px;
}
#box p{
	position:absolute;
	bottom:-250px;
	padding:10px;
	background:rgba(0, 0, 0, 0.2);
	color:#fff;

	transition:1s;
}

#box:hover p{
	bottom:0px;
}